<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>

<% if notice.present? %>
  <p id="notice"><%= notice %></p>
<% end %>
<%= render "posts/form", post: Post.new %>


<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
